{
    "app": {
        "port": 8080,
        "logs": "./logs/",
        "builds": "./builds/",
        "mailer": {
            "host": "smtp.yourserver.com",
            "secureConnection": true,
            "port": 465,
            "auth": {
                "user": "user@yourserver.com",
                "pass": "password"
            }
        },
        "tokens": [
            "12345"
        ]
    },
    "projects": {
        "project-one" : {
            "dir": "project-one",
            "repo": "git@github.com:organization/project-one.git",
            "auth": {
                "user": "test",
                "pass": "password"
            }
        },
        "project-two" : {
            "dir": "project-two",
            "repo": "git@github.com:organization/project-two.git",
            "auth": {
                "user": "test",
                "pass": "password"
            }
        }
    }
}