{
    "app": {
        "port": 8080,
        "logs": "./logs/",
        "builds": "./builds/",
        "mailer": {
            "host": "smtp.yourserver.com",
            "secureConnection": true,
            "port": 465,
            "auth": {
                "user": "user@yourserver.com",
                "pass": "password"
            }
        }
    },
    "builds": {
        "project-one" : {
            "dir": "project-one",
            "repo": "git@github.com:organization/project-one.git",
            "key": "56A7BEE90CF3",
            "auth": {
                "user": "test",
                "pass": "password"
            }
        },
        "project-two" : {
            "dir": "project-two",
            "repo": "git@github.com:organization/project-two.git",
            "key": "86AC4EE93BF1",
            "auth": {
                "user": "test",
                "pass": "password"
            }
        }
    }
}