.project-title {
    float: left;
    width: 100%;
    font-size: 1.25em;
    color: black;
}

.project-title--status {
    display: block;
    margin-top: .25em;
}

.project-title .btn {
    float: left;
    margin: .5em 0 0;
    width: 100%;
    font-size: .65em;
}

@media (min-width: 28em) {
    .project-title .btn {
        width: auto;
    }
}

@media (min-width: 37.5em) {
    .project-title .btn {
        float: right;
        margin: 0;
        font-size: .5em;
    }
}

.sidebar-glance-contain {
    float: left;
    width: 100%;
    margin: 1em 0 0;
}

.sidebar-glance-title {
    font-weight: 400;
    color: black;
}

.sidebar-glance {
    font-size: .875em;
    line-height: 1.375em;
    padding: 1em 0 1.5em;
    border-top: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
}

.sidebar-glance span {
    font-size: 1.125em;
}

.sidebar-glance strong {
    color: black;
}

.content-wrap .sidebar-glance-title {
    font-size: 1.125em;
    margin: 0;
}

@media (min-width: 37.5em) {
    .project-title {
        font-size: 1.75em;
    }

    .project-title--status {
        display: inline-block;
        margin-top: 0;
        margin-left: .25em;
        vertical-align: middle;
    }
}

@media (min-width: 63.75em) {
    .project-title {
        width: 75%;
        font-size: 2em;
    }

    .project-title--status {
        height: 36px;
    }

    .sidebar-glance-contain {
        margin: -7.25em 0 1.5em;
    }
}