button,
.btn {
    display: inline-block;
    width: auto;
    margin: 5px 15px 15px 0;
    padding: 7px 12px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff !important;
    font-weight: normal;
    font-size: .875em;
    @include border-radius(3px);
    @include background-image(linear-gradient(#ff734b 0%, #ff734b 50%, #ff6741 50%, #ff6741 100%));

    &:hover {
        @include background-image(linear-gradient(#ff6741 0%, #ff6741 50%, #f65a33 50%, #f65a33 100%));
    }

    .fa {
        color: white;
        padding: 0 5px 0 0;
    }

    @include breakpoint(37.5em) {
        padding: 8px 17px;
    }

    @include breakpoint(56.25em) {
        padding: 10px 25px;
        font-size: .875em;
    }
}

.btn-sec {
    @include background-image(linear-gradient(#747474 0%, #747474 50%, #6d6d6d 50%, #6d6d6d 100%));

    &:hover {
        @include background-image(linear-gradient(#6d6d6d 0%, #6d6d6d 50%, #5c5c5c 50%, #5c5c5c 100%));
    }
}

.btn-sml {
    @include breakpoint(37.5em) {
        padding: 7px 12px;
    }

    @include breakpoint(56.25em) {
        padding: 7px 12px;
    }
}