h4 {
    display: inline-block;
    padding: 0 0 15px 2px;
    margin: 20px 0 0 0;
    font-size: 1em;
    font-weight: bold;
}

@media (min-width: 37.5em) {
    label,
    h4 {
        font-size: 1.25em;
    }
}

input, select, textarea {
    display: block;
    width: 100%;
    margin: -1px 0 10px 0;
    padding: 8px 12px;
    color: #333;
    font-size: .938em;
    font-weight: normal;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input.checkbox {
    display: inline;
    width: auto;
}

textarea { font-family: "Roboto", Arial, Helvetica, sans-serif; min-height: 150px; }

input:focus, select:focus, textarea:focus{
    border: 1px solid #999; outline: none;
}