.global-form {
    float: left;
    width: 100%;
}

.gf-col {
    float: left;
    width: 100%;

    @include breakpoint(50em) {
        width: 50%;
        padding: 0 1em 0 0;

        &:nth-child(2) {
            padding: 0 0 0 1em;
        }
    }
}

.global-form {
    label {
        display: block;
        width: 100%;
        margin: 0 0 .5em;
        font-size: .938em;

        @include breakpoint(50em) {
            font-size: 1.25em;
            margin: 0 0 .75em;
        }
    }

    input, 
    select, 
    textarea {
        display: block;
        width: 100%;
        margin: 0 0 1.5em;
        padding: .75em;
        color: #333;
        font-size: .938em;
        font-weight: normal;
        border: 1px solid #bdc3c7;
        @include box-shadow(inset 0 -1px #bdc3c7);
        @include border-radius(4px);

        &:focus {
            border: 1px solid #b1d928; 
            outline: none;
            @include box-shadow(inset 0 -1px #b1d928);
        }

        @include breakpoint(50em) {
            padding: .875em;
            font-size: 1em;
        }
    }

    input.checkbox {
        display: inline;
        width: auto;
    }

    textarea { 
        font-family: "Roboto", Arial, Helvetica, sans-serif; 
        min-height: 150px;
    }
}