#login {
	label,
	input,
	button {
		float: left;
	}
	
	label {
    	width: 100%;
    }

    input {
	    max-width: 300px;
	}

	button {
	    @include breakpoint(37.5em) {
	    	margin: 0 0 0 1em;
	    }
	}
}