/* line 12, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 13, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 15, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 16, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
body {
  line-height: 1;
}

/* line 17, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 18, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 20, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 21, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 22, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 23, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 25, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
h1, h2, h3, h4 {
  margin: 0;
  font-weight: bold;
}

/* line 30, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
h1 {
  font-size: 3em;
}

/* line 31, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
h2 {
  font-size: 2.5em;
}

/* line 32, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
h2.failed {
  color: red;
}

/* line 33, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
h2.passed {
  color: green;
}

/* line 34, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
h3 {
  font-size: 2em;
}

/* line 35, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* line 37, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
a, a:link, a:visited {
  display: inline;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

/* line 43, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
a:hover, a:active {
  color: #000;
}

/* line 45, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
.hide {
  display: none;
}

/* line 46, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
.clear {
  clear: both;
}

/* line 47, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
.right {
  float: right;
}

/* line 48, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
.left {
  float: left;
}

/* line 50, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
hr {
  border: 0;
  height: 1px;
  margin: 1.5625em 0;
  background-image: -webkit-linear-gradient(left, rgba(120, 120, 120, 0), rgba(200, 200, 200, 0.75), rgba(120, 120, 120, 0));
  background-image: -moz-linear-gradient(left, rgba(120, 120, 120, 0), rgba(200, 200, 200, 0.75), rgba(120, 120, 120, 0));
  background-image: -ms-linear-gradient(left, rgba(120, 120, 120, 0), rgba(200, 200, 200, 0.75), rgba(120, 120, 120, 0));
  background-image: -o-linear-gradient(left, rgba(120, 120, 120, 0), rgba(200, 200, 200, 0.75), rgba(120, 120, 120, 0));
}

/* line 57, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
strong {
  font-weight: bold;
}

/* line 61, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
em {
  font-style: italic;
  color: #999;
}

/* line 66, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
i.fa {
  padding: 0 .2em;
  padding: 3px 5px;
}

/* line 71, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
a > i {
  color: #999;
  transition: .3s color;
}

/* line 76, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_reset.scss */
a > i:hover {
  color: #333;
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
html {
  width: 100%;
  height: 100%;
  font: normal 1em 'Roboto', 'Helvetica Neue', Helvetica, Arial, serif;
  color: #6d6d6d;
}

/* line 12, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
body {
  position: absolute;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  right: 0;
  left: 0;
  padding: 0;
  background: #30373a;
}

/* Pre/Code
==================================================================== */
/* line 26, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
code {
  display: block;
  overflow: scroll;
  margin: 5px 0;
  padding: 15px;
  border: 1px solid #ccc;
  font-family: 'Ubuntu-Mono', 'monospace', sans-serif;
  font-size: 13px;
  line-height: 140%;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: #1a1a1a;
  color: #fff;
  text-shadow: none;
}
/* line 41, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
code .annotation {
  float: right;
}
/* line 44, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
code .annotation.pass {
  color: green;
}
/* line 48, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
code .annotation.fail {
  color: red;
}

/* line 54, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
.code-output {
  float: left;
  width: 100%;
}
@media (min-width: 63.75em) {
  /* line 54, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
  .code-output {
    width: 75%;
  }
}

/* Aside
==================================================================== */
/* line 66, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
aside {
  display: none;
}

/* Status Indicators
==================================================================== */
/* line 73, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
i.red, i.red:hover {
  color: #ad0505;
}

/* line 74, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
i.green, i.green:hover {
  color: #0fa80f;
}

/* line 75, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/_base.scss */
i.yellow, i.yellow:hover {
  color: #ffcc00;
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
#main {
  float: left;
  width: 100%;
  padding: .5em;
}
@media (min-width: 37.5em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  #main {
    padding: 1em;
  }
}
@media (min-width: 56.25em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  #main {
    padding: 2.5em;
  }
}

/* line 15, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
.page-title {
  float: left;
  width: 100%;
  margin: 0;
  padding: 14px 10px;
  color: #f2f2f2;
  font-size: .938em;
  font-weight: 400;
  background: #4a4f51;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
/* line 26, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
.page-title .breadcrumb-hide {
  display: none;
}
/* line 30, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
.page-title a {
  color: #f2f2f2;
}
/* line 34, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
.page-title .btn {
  margin: -7px 0 -8px;
  color: white;
}
@media (min-width: 30em) {
  /* line 41, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  .page-title .breadcrumb-hide,
  .page-title .fa {
    display: inline;
  }
  /* line 45, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  .page-title a.breadcrumb-link {
    color: #999;
    font-style: italic;
  }
  /* line 49, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  .page-title a.breadcrumb-link:hover {
    color: #bbb;
  }
}
@media (min-width: 37.5em) {
  /* line 15, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  .page-title {
    padding: 15px 10px;
    font-size: 1em;
  }
}
@media (min-width: 56.25em) {
  /* line 15, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  .page-title {
    padding: 19px 10px;
    font-size: 1.125em;
  }
  /* line 64, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  .page-title .fa {
    float: left;
    font-size: 1.25em;
    margin: -4px 6px -7px 0;
  }
  /* line 70, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  .page-title .fa-angle-right {
    float: none;
    margin: 0;
    font-size: 1em;
  }
  /* line 76, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  .page-title .btn {
    margin: -9px 0 -11px;
  }
  /* line 79, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  .page-title .btn .fa {
    float: none;
    font-size: 1em;
    margin: 0;
  }
}

/* line 88, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
.content-wrap {
  float: left;
  width: 100%;
  background: #f2f2f2;
  padding: 1.25em;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
/* line 95, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
.content-wrap h3 {
  font-size: .938em;
  padding-bottom: .5em;
}
@media (min-width: 56.25em) {
  /* line 95, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  .content-wrap h3 {
    font-size: 1.125em;
  }
}

/* line 105, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
.section-title {
  float: left;
  width: 100%;
  margin: .25em 0 .5em;
  padding: 0 0 .25em;
  font-weight: 400;
  font-size: 1.25em;
  border-bottom: 2px solid #e2e2e2;
}
@media (min-width: 37.5em) {
  /* line 105, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  .section-title {
    font-size: 1.75em;
    margin: .5em 0 .375em;
  }
}
@media (min-width: 63.75em) {
  /* line 105, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_content.scss */
  .section-title {
    width: 75%;
    margin: 1em 0 .375em;
  }
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_header.scss */
header {
  float: left;
  width: 100%;
  padding: 0 .5em;
  background: #262d31;
  z-index: 999;
  height: 2.75em;
}
/* line 9, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_header.scss */
header .fa-check-circle {
  color: #f2f2f2;
  font-size: 1.5em;
  padding: 0;
  float: left;
  margin: -0.175em 0.25em 0;
}
/* line 16, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_header.scss */
header .fa-check-circle:hover {
  color: #f2f2f2;
}
@media (min-width: 37.5em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_header.scss */
  header {
    height: 3.75em;
  }
  /* line 24, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_header.scss */
  header .fa-check-circle {
    font-size: 1.75em;
    margin: -0.25em 0.25em 0;
  }
}
@media (min-width: 56.25em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_header.scss */
  header {
    padding: 0 2.5em;
  }
}

/* line 35, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_header.scss */
.menu-button {
  float: left;
  margin: .938em 0 0;
  color: #f2f2f2 !important;
  font-size: 1em;
}
/* line 41, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_header.scss */
.menu-button:hover {
  color: #f2f2f2;
}
@media (min-width: 37.5em) {
  /* line 35, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_header.scss */
  .menu-button {
    margin: 1.125em 0 0;
    font-size: 1.1875em;
  }
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_project.scss */
.project-title {
  float: left;
  width: 100%;
  font-size: 1.25em;
  color: black;
}
/* line 7, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_project.scss */
.project-title .btn {
  float: left;
  margin: .5em 0 0;
  width: 100%;
  font-size: .65em;
}
@media (min-width: 28em) {
  /* line 7, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_project.scss */
  .project-title .btn {
    width: auto;
  }
}
@media (min-width: 37.5em) {
  /* line 7, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_project.scss */
  .project-title .btn {
    float: right;
    margin: 0;
    font-size: .5em;
  }
}
@media (min-width: 37.5em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_project.scss */
  .project-title {
    font-size: 1.75em;
  }
}
@media (min-width: 63.75em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_project.scss */
  .project-title {
    width: 75%;
    font-size: 2em;
  }
}

/* line 34, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_project.scss */
.project-title--status {
  display: block;
  margin-top: .25em;
}
@media (min-width: 37.5em) {
  /* line 34, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_project.scss */
  .project-title--status {
    display: inline-block;
    margin-top: 0;
    margin-left: .25em;
    vertical-align: middle;
  }
}
@media (min-width: 63.75em) {
  /* line 34, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_project.scss */
  .project-title--status {
    height: 36px;
  }
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_sidebar.scss */
.sidebar {
  float: right;
  width: 100%;
}
@media (min-width: 63.75em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/layout/_sidebar.scss */
  .sidebar {
    width: 25%;
    padding: 0 0 0 1.25em;
  }
}

@media (min-width: 63.75em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_add-project.scss */
  .tabs-horiz.add-project-steps {
    width: 100%;
  }
}
/* line 6, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_add-project.scss */
.tabs-horiz.add-project-steps .current-step {
  color: black;
  font-weight: bold;
  border-left: 3px solid #ff734b;
}
/* line 11, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_add-project.scss */
.tabs-horiz.add-project-steps .current-step .project-step-icon {
  border-color: black;
  color: black;
}
/* line 16, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_add-project.scss */
.tabs-horiz.add-project-steps .current-step .tab-cont span {
  color: black;
}
@media (min-width: 28em) {
  /* line 6, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_add-project.scss */
  .tabs-horiz.add-project-steps .current-step {
    border-left: 0;
    border-top: 3px solid #ff734b;
  }
}
/* line 26, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_add-project.scss */
.tabs-horiz.add-project-steps .completed-step {
  border-left: 3px solid #b1d928;
}
/* line 29, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_add-project.scss */
.tabs-horiz.add-project-steps .completed-step .project-step-icon {
  border-color: black;
  color: black;
}
/* line 34, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_add-project.scss */
.tabs-horiz.add-project-steps .completed-step .tab-cont span {
  color: black;
}
@media (min-width: 28em) {
  /* line 26, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_add-project.scss */
  .tabs-horiz.add-project-steps .completed-step {
    border-left: 0;
    border-top: 3px solid #b1d928;
  }
}

/* line 45, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_add-project.scss */
.project-step-icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  padding-top: 6px;
  text-align: center;
  color: #aaa;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  border: 2px solid #aaa;
}

/* line 56, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_add-project.scss */
.tab-cont span {
  display: inline-block;
  padding-left: .625em;
  color: #aaa;
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_at-a-glance.scss */
.sidebar-glance-contain {
  float: left;
  width: 100%;
  margin: 1em 0 0;
}
@media (min-width: 63.75em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_at-a-glance.scss */
  .sidebar-glance-contain {
    margin: -7.25em 0 1.5em;
  }
}

/* line 11, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_at-a-glance.scss */
.sidebar-glance-title {
  font-weight: 400;
  color: black;
}

/* line 16, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_at-a-glance.scss */
.sidebar-glance {
  font-size: .875em;
  line-height: 1.375em;
  padding: 1em 0 1.5em;
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}
/* line 23, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_at-a-glance.scss */
.sidebar-glance span {
  font-size: 1.125em;
}
/* line 27, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_at-a-glance.scss */
.sidebar-glance strong {
  color: black;
}

/* line 32, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_at-a-glance.scss */
.content-wrap .sidebar-glance-title {
  font-size: 1.125em;
  margin: 0;
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_breadcrumbs.scss */
.breadcrumbs-secondary {
  float: left;
  width: 100%;
  margin: 0 0 1em;
  padding: 0;
  list-style: none;
}
/* line 8, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_breadcrumbs.scss */
.breadcrumbs-secondary li {
  position: relative;
  float: left;
  padding: 0;
  font-size: .875em;
  font-style: italic;
}
/* line 15, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_breadcrumbs.scss */
.breadcrumbs-secondary li:after {
  position: relative;
  content: "\f105";
  font-family: "FontAwesome";
  float: right;
  margin: 0 .5em;
  font-style: normal;
}
/* line 24, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_breadcrumbs.scss */
.breadcrumbs-secondary li:last-child {
  font-style: normal;
}
/* line 26, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_breadcrumbs.scss */
.breadcrumbs-secondary li:last-child:after {
  display: none;
}

/* line 2, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_btn.scss */
button,
.btn {
  display: inline-block;
  width: auto;
  margin: 5px 15px 15px 0;
  padding: 7px 12px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff !important;
  font-weight: normal;
  font-size: .875em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #b1d928;
  border-bottom: 2px solid #8eb122;
  -webkit-box-shadow: inset 0 -2px #8eb122;
  -moz-box-shadow: inset 0 -2px #8eb122;
  box-shadow: inset 0 -2px #8eb122;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
/* line 21, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_btn.scss */
button:hover,
.btn:hover {
  background: #a5cd1e;
  border-bottom: 2px solid #7fa116;
  -webkit-box-shadow: inset 0 -2px #7fa116;
  -moz-box-shadow: inset 0 -2px #7fa116;
  box-shadow: inset 0 -2px #7fa116;
}
/* line 28, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_btn.scss */
button .fa,
.btn .fa {
  color: white;
  padding: 0 5px 0 0;
}
@media (min-width: 37.5em) {
  /* line 2, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_btn.scss */
  button,
  .btn {
    padding: 8px 17px;
  }
}
@media (min-width: 56.25em) {
  /* line 2, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_btn.scss */
  button,
  .btn {
    padding: 10px 25px;
    font-size: .875em;
  }
}

/* line 43, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_btn.scss */
.btn-sec {
  background: #b5b8b5;
  border-bottom: 2px solid #9e9f9e;
  -webkit-box-shadow: inset 0 -2px #9e9f9e;
  -moz-box-shadow: inset 0 -2px #9e9f9e;
  box-shadow: inset 0 -2px #9e9f9e;
}
/* line 49, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_btn.scss */
.btn-sec:hover {
  background: #a4a6a4;
  border-bottom: 2px solid #929492;
  -webkit-box-shadow: inset 0 -2px #929492;
  -moz-box-shadow: inset 0 -2px #929492;
  box-shadow: inset 0 -2px #929492;
}

@media (min-width: 37.5em) {
  /* line 57, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_btn.scss */
  .btn-sml {
    padding: 7px 12px;
  }
}
@media (min-width: 56.25em) {
  /* line 57, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_btn.scss */
  .btn-sml {
    padding: 7px 12px;
  }
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_build-info.scss */
.build-info {
  float: left;
  width: 100%;
  margin: 1em 0 0;
  padding: .375em;
  background: white;
  border: 1px solid #e2e2e2;
  border-top: 3px solid #e2e2e2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
@media (min-width: 63.75em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_build-info.scss */
  .build-info {
    width: 75%;
  }
}

/* line 18, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_build-info.scss */
.build-info-left,
.build-info-mid,
.build-info-right {
  float: left;
  padding: .75em;
  width: 100%;
}
/* line 23, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_build-info.scss */
.build-info-left div,
.build-info-mid div,
.build-info-right div {
  font-size: .938em;
  line-height: 1.5em;
}

@media (min-width: 42em) {
  /* line 29, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_build-info.scss */
  .build-info-left {
    width: 35%;
  }
}

@media (min-width: 42em) {
  /* line 35, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_build-info.scss */
  .build-info-mid {
    width: 45%;
  }
}

@media (min-width: 42em) {
  /* line 41, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_build-info.scss */
  .build-info-right {
    width: 20%;
  }
}

/* line 47, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_build-info.scss */
.build-info--title {
  float: left;
  width: 100%;
  margin: 0 0 1em;
  padding: 0 0 .5em;
  border-bottom: 2px solid #e2e2e2;
  font-weight: 500;
  font-size: 1em;
}

/* line 58, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_build-info.scss */
.build-info--author img {
  float: left;
  width: 35px;
  height: auto;
}
/* line 64, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_build-info.scss */
.build-info--author span {
  display: inline-block;
  padding: .75em 0 0 .75em;
}

/* line 71, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_build-info.scss */
.build-info--commit a {
  display: block;
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 63.74em) {
  /* line 8, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
  .datatable thead tr {
    display: none;
  }
}
@media (max-width: 63.74em) {
  /* line 17, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
  .datatable .datatable .status-col,
  .datatable .datatable .run-col,
  .datatable .datatable .logs-col,
  .datatable .datatable .settings-col {
    display: none;
  }
}
@media (max-width: 63.74em) {
  /* line 23, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
  .datatable .datatable tr:nth-child(even) td {
    background: #f8f8f8;
    border-top: 0;
    border-bottom: 0;
  }
}
/* line 31, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable th, .datatable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 37, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable th {
  padding: 12px;
  text-align: left;
  background: #e2e2e2;
  border: solid 1px #e2e2e2;
  border-right: solid 1px #ccc;
}
/* line 45, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable .anchor-wrap {
  position: relative;
  height: 60px;
}
/* line 50, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable td {
  background: white;
  border: 1px solid #e2e2e2;
}
/* line 54, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable td a {
  display: block;
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  padding: 6px 12px;
}
@media (min-width: 63.75em) {
  /* line 54, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
  .datatable td a {
    padding: 12px;
  }
}
/* line 68, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable td:first-child a, .datatable td:last-child a {
  padding: 12px;
}
@media (max-width: 63.74em) {
  /* line 50, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
  .datatable td {
    display: block;
    height: auto;
    white-space: inherit;
    border-bottom: 0;
    border-top: 0;
  }
  /* line 79, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
  .datatable td a {
    position: static;
  }
}
/* line 88, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable tr:hover td a {
  background: #f8f8f8;
}
/* line 95, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable tr:first-child th:last-child {
  border-right: 0;
}
/* line 101, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable .center {
  text-align: center;
}
/* line 106, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable .empty-projects em {
  display: block;
  padding: 2em 0;
}
/* line 112, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable .last-build {
  font-size: .85em;
  display: block;
  padding-top: .5em;
  color: #999;
}
@media (max-width: 63.74em) {
  /* line 112, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
  .datatable .last-build {
    padding-top: 0;
  }
}
@media (min-width: 63.75em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
  .datatable {
    float: left;
    width: 75%;
  }
  /* line 127, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
  .datatable .last-build--title {
    display: none;
  }
}

/* line 134, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable-wide td {
  height: 50px;
}
/* line 138, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable-wide td:first-child a, .datatable-wide td:last-child a {
  padding: 23px 12px 12px;
}
/* line 144, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.datatable-wide tr:nth-child(even) a {
  background: #f8f8f8;
}
@media (min-width: 63.75em) {
  /* line 149, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
  .datatable-wide tr:nth-child(even) a {
    background: #fefefe;
  }
}
@media (min-width: 63.75em) {
  /* line 133, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
  .datatable-wide {
    width: 100%;
  }
}

/* line 160, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
.logs {
  font-size: .938em;
}

/* line 164, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
h4.project {
  margin: 0;
  padding: 0;
  padding-bottom: .125em;
  font-size: 1em;
  font-weight: 500;
  color: #6d6d6d;
}

/* line 173, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
span.project {
  font-size: .85em;
  display: block;
  color: #6d6d6d;
}
@media (min-width: 63.75em) {
  /* line 173, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
  span.project {
    padding-top: .5em;
  }
}

/* line 183, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_datatable.scss */
em.repo {
  display: inline-block;
  padding-bottom: 10px;
  font-size: .938em;
  color: #999;
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.global-form {
  float: left;
  width: 100%;
}

/* line 6, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.gf-col {
  float: left;
  width: 100%;
}
@media (min-width: 50em) {
  /* line 6, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
  .gf-col {
    width: 50%;
    padding: 0 1em 0 0;
  }
  /* line 14, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
  .gf-col:nth-child(2) {
    padding: 0 0 0 1em;
  }
}

/* line 20, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.gf-centered {
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 1em;
}
/* line 26, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.gf-centered p {
  margin-bottom: 1em;
}

/* line 31, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.gf-actions {
  float: left;
  width: 100%;
  border-top: 1px solid #bdc3c7;
  padding-top: .75em;
}

/* line 39, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.global-form label {
  display: block;
  width: 100%;
  margin: 0 0 .5em;
  font-size: .938em;
}
@media (min-width: 50em) {
  /* line 39, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
  .global-form label {
    font-size: 1.125em;
    margin: .75em 0 .75em;
  }
}
/* line 53, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.global-form input,
.global-form select,
.global-form textarea {
  display: block;
  width: 100%;
  margin: 0 0 1.5em;
  padding: .75em;
  color: #333;
  font-size: .938em;
  font-weight: normal;
  border: 1px solid #bdc3c7;
  -webkit-box-shadow: inset 0 -1px #bdc3c7;
  -moz-box-shadow: inset 0 -1px #bdc3c7;
  box-shadow: inset 0 -1px #bdc3c7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 65, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.global-form input:focus,
.global-form select:focus,
.global-form textarea:focus {
  border: 1px solid #b1d928;
  outline: none;
  -webkit-box-shadow: inset 0 -1px #b1d928;
  -moz-box-shadow: inset 0 -1px #b1d928;
  box-shadow: inset 0 -1px #b1d928;
}
@media (min-width: 50em) {
  /* line 53, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
  .global-form input,
  .global-form select,
  .global-form textarea {
    padding: .875em;
    font-size: 1em;
  }
}
/* line 77, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.global-form input.checkbox {
  display: inline;
  width: auto;
}
/* line 82, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.global-form textarea {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  min-height: 150px;
}

/* line 89, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.project-config-form {
  margin-top: 1.5em;
}
@media (min-width: 63.75em) {
  /* line 89, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
  .project-config-form {
    margin-top: 0;
    width: 75%;
  }
}

/* line 99, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.user-config-form {
  margin-top: 1.5em;
}
@media (min-width: 63.75em) {
  /* line 99, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
  .user-config-form {
    margin-top: 0;
    width: 75%;
  }
}

/* line 108, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.user-config-image {
  float: left;
  width: 100%;
  margin: 0 0 1.5em;
}
/* line 113, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.user-config-image label {
  display: block;
  width: 100%;
  margin: 0 0 .5em;
  font-size: .938em;
}
@media (min-width: 50em) {
  /* line 113, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
  .user-config-image label {
    font-size: 1.125em;
    margin: .75em 0 .75em;
  }
}
/* line 125, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.user-config-image .image-contain {
  position: relative;
  float: left;
}
/* line 129, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.user-config-image .image-contain .image-edit-trigger {
  display: none;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 143, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.user-config-image .image-contain img {
  float: left;
  height: 120px;
  max-width: 100%;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
/* line 150, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.user-config-image .image-contain:hover {
  background: black;
}
/* line 153, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.user-config-image .image-contain:hover img {
  opacity: .75;
}
/* line 157, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
.user-config-image .image-contain:hover .image-edit-trigger {
  display: block;
}
@media (min-width: 63.75em) {
  /* line 108, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_form.scss */
  .user-config-image {
    width: 25%;
    padding: 0 0 0 2.5em;
  }
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
.profile-nav {
  float: right;
}
@media (min-width: 42em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
  .profile-nav {
    position: relative;
    min-width: 12em;
  }
}

/* line 10, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
a.profile-nav--trigger, a.profile-nav--item {
  position: absolute;
  right: 0;
  display: block;
  padding: .3em .5em;
  height: 2.75em;
  color: #fff;
  line-height: 3em;
  border-left: solid 1px #262d31;
  border-right: solid 1px #262d31;
}
/* line 21, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
a.profile-nav--trigger:hover, a.profile-nav--item:hover {
  background: #30373a;
}
/* line 25, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
a.profile-nav--trigger span, a.profile-nav--item span {
  display: none;
}
/* line 29, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
a.profile-nav--trigger .fa-caret-down, a.profile-nav--item .fa-caret-down {
  display: none;
  color: white;
}
@media (min-width: 37.5em) {
  /* line 10, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
  a.profile-nav--trigger, a.profile-nav--item {
    height: 3.75em;
  }
}
@media (min-width: 42em) {
  /* line 10, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
  a.profile-nav--trigger, a.profile-nav--item {
    position: static;
    height: 3.75em;
  }
  /* line 43, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
  a.profile-nav--trigger span,
  a.profile-nav--trigger .fa-caret-down, a.profile-nav--item span,
  a.profile-nav--item .fa-caret-down {
    display: inline;
  }
}

/* line 48, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
a.profile-nav--item {
  position: relative;
  float: left;
  padding-left: .65em;
}

/* line 54, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
.profile-nav--thumb {
  float: left;
  width: 26px;
  height: auto;
  margin: .25em 0 0 0;
}
@media (min-width: 37.5em) {
  /* line 54, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
  .profile-nav--thumb {
    width: 32px;
    margin: .563em 0 0;
  }
}
@media (min-width: 42em) {
  /* line 54, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
  .profile-nav--thumb {
    margin: .563em .75em 0 0;
  }
}

/* line 70, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
.profile-nav--list {
  position: absolute;
  top: 2.75em;
  left: 0;
  width: 100%;
  display: none;
  margin: 0;
  list-style: none;
  background: #30373a;
  z-index: 100;
  border: solid 1px #262d31;
  border-top: 0;
}
/* line 83, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
.profile-nav--list li {
  width: 100%;
  float: left;
  margin: 0;
}
/* line 88, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
.profile-nav--list li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: .75em .5em;
  color: #f2f2f2;
  font-size: .938em;
}
/* line 96, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
.profile-nav--list li a:hover {
  background: #494e51;
}
/* line 99, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
.profile-nav--list li a:hover .fa {
  color: #999;
}
/* line 106, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
.profile-nav--list .fa {
  padding-right: 10px;
}
@media (min-width: 37.5em) {
  /* line 70, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
  .profile-nav--list {
    top: 3.75em;
  }
}
@media (min-width: 42em) {
  /* line 70, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
  .profile-nav--list {
    top: 3.75em;
  }
}

/* line 121, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
.profile-nav--open a.profile-nav--trigger {
  background: #30373a;
}
/* line 125, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-nav.scss */
.profile-nav--open .profile-nav--list {
  display: block;
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
.global-search {
  display: none;
  float: left;
}
@media (min-width: 42em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
  .global-search {
    display: block;
  }
}

/* line 10, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
.search-input {
  margin: 0;
  float: left;
  width: 100%;
  background: #30373a;
  border: solid 1px #30373a;
  color: white;
  font-size: .938em;
  padding: 8px 12px;
}
/* line 20, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
.search-input:focus {
  outline: none;
}
@media (min-width: 42em) {
  /* line 10, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
  .search-input {
    margin: .875em 0 0 2em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
}
@media (max-width: 42em) {
  /* line 10, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
  .search-input {
    border: none;
    padding: 18px 12px;
  }
  /* line 33, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
  .search-input:focus {
    border: none;
    padding: 18px 12px;
  }
}

@media (max-width: 42em) {
  /* line 40, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
  .global-search--open {
    display: block;
    position: absolute;
    width: 100%;
    top: 3.75em;
    left: 0;
    background: #30373a;
    z-index: 100;
  }
}
@media (max-width: 37.5em) {
  /* line 40, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
  .global-search--open {
    top: 2.75em;
  }
}

/* line 56, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
a.global-search--trigger {
  display: block;
  float: right;
  height: 2.75em;
  padding: .3em .5em;
  margin-right: 35px;
  width: 2.625em;
  color: white;
  text-align: center;
  line-height: 2em;
}
@media (min-width: 37.5em) {
  /* line 56, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
  a.global-search--trigger {
    margin-right: 41px;
    height: 3.5em;
    width: 2.75em;
    line-height: 2.375em;
    font-size: 1.25em;
  }
}
@media (min-width: 42em) {
  /* line 56, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
  a.global-search--trigger {
    display: none;
  }
}

/* line 81, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_global-search.scss */
a.global-search--trigger--open,
a.global-search--trigger:hover {
  background: #30373a;
}

/* line 3, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_login.scss */
.login header .menu-button {
  display: block;
  width: 120px;
  float: none;
  margin: .938em auto 0;
  text-align: center;
}
@media (min-width: 37.5em) {
  /* line 12, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_login.scss */
  .login header .menu-button {
    width: 150px;
    margin: 1.125em auto 0;
  }
}
/* line 20, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_login.scss */
.login .page-title,
.login .content-wrap {
  max-width: 400px;
  margin: 0 auto;
  float: none;
  overflow: hidden;
}
/* line 27, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_login.scss */
.login .gf-col {
  width: 100%;
  padding: 0;
}

/* line 2, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_modal.scss */
.modal--open::after {
  position: absolute;
  content: "";
  top: 0;
  z-index: 99;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* line 14, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_modal.scss */
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  z-index: 100;
}
/* line 24, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_modal.scss */
.modal.modal--active {
  display: block;
}

/* line 29, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_modal.scss */
.modal-contain {
  position: relative;
  max-width: 35em;
  margin: 14em auto 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}

/* line 38, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_modal.scss */
.modal-title {
  float: left;
  width: 100%;
  padding: 1em;
  background: #b1d928;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

/* line 47, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_modal.scss */
.modal-body {
  float: left;
  width: 100%;
  padding: 1em;
  background: white;
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_notifications.scss */
#notification {
  position: fixed;
  top: -100px;
  left: 50%;
  width: 350px;
  margin-left: -175px;
  padding: 12px 15px 15px 15px;
  background: #262d31;
  z-index: 99999;
  color: white;
  font-weight: normal;
  font-size: 1.1em;
  text-shadow: none;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: top .5s, opacity .5s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 19, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_notifications.scss */
#notification div {
  width: 85%;
  word-wrap: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-top: 5px;
}
/* line 29, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_notifications.scss */
#notification a {
  float: right;
  display: inline-block;
  font-size: 1.2em;
  color: #fff;
  padding: 1px 0 0 0;
  margin: 0 0 0 10px;
  opacity: 0.5;
  transition: opacity .3s;
}
/* line 39, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_notifications.scss */
#notification a:hover {
  opacity: 1;
}
/* line 42, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_notifications.scss */
#notification a:hover i {
  color: white;
}
/* line 48, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_notifications.scss */
#notification.error {
  border-top: 5px solid #ff0000;
  top: 20%;
  opacity: 1;
}
/* line 54, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_notifications.scss */
#notification.success {
  border-top: 5px solid #00ff00;
  top: 20%;
  opacity: 1;
}

/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list-contain {
  float: left;
  width: 100%;
  margin: 1em 0 0;
  background: white;
  border-radius: 0 0 3px 3px;
}
@media (min-width: 63.75em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
  .sidebar-list-contain {
    margin: 0;
  }
}

/* line 13, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list-title {
  font-weight: 400;
  background: #e2e2e2;
  padding: .5em;
  border-radius: 3px 3px 0 0;
}

/* line 20, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 25, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list a {
  display: block;
  padding: 1.25em .5em;
}
/* line 29, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list a:hover {
  color: #6d6d6d;
}
@media (min-width: 63.75em) {
  /* line 25, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
  .sidebar-list a {
    padding: 12px;
  }
}
/* line 38, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list li {
  position: relative;
  font-size: .938em;
  line-height: 1.25em;
  border-bottom: solid 1px #e2e2e2;
}
/* line 44, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list li ul {
  display: none;
}
/* line 47, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list li ul li {
  border-bottom: 0;
}
/* line 50, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list li ul li a {
  padding: .5em 1em .5em 2.25em;
}
/* line 56, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list li span {
  display: inline-block;
  font-size: .875em;
  line-height: 1em;
}
/* line 63, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list time {
  font-size: .875em;
}

/* line 68, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list--active {
  border-left: 3px solid #ff734b;
}
/* line 71, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list--active a {
  color: #6d6d6d;
}

/* line 76, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.build-groups-contain {
  margin: 0 0 1em;
}
/* line 79, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.build-groups-contain .sidebar-list > li::before {
  position: relative;
  content: "\f0d7";
  float: left;
  font-family: "FontAwesome";
  left: 0;
  margin: 1.375em .5em 0 1em;
}
/* line 88, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.build-groups-contain .sidebar-list > li.accordion--open::before {
  content: "\f0d8";
}
/* line 93, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.build-groups-contain .accordion--open ul {
  display: block;
  margin-bottom: 1em;
}
/* line 98, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.build-groups-contain .accordion--open > a {
  color: #6d6d6d;
}
@media (min-width: 63.75em) {
  /* line 76, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
  .build-groups-contain {
    margin: -18.5em 0 0;
  }
  /* line 106, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
  .build-groups-contain .sidebar-list > li::before {
    margin: .875em .5em 0 1em;
  }
}

/* line 112, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
.sidebar-list-actions {
  float: left;
  width: 100%;
  padding: 1.25em .5em;
}

@media (min-width: 63.75em) {
  /* line 119, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_sidebar-list.scss */
  .content-wrap .sidebar-list-title {
    font-size: 1em;
    margin: 0;
    padding: 12px;
  }
}
/* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
.tabs-horiz {
  display: table;
  list-style: none;
  margin: 1em 0;
  padding: 0;
  float: left;
  width: 100%;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  border-top: 0;
}
/* line 13, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
.tabs-horiz li {
  display: block;
  font-size: .875em;
  border-left: 3px solid #e2e2e2;
}
/* line 18, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
.tabs-horiz li a, .tabs-horiz li .tab-cont {
  display: block;
  width: 100%;
  height: 100%;
  padding: .75em 0 .75em 1em;
}
/* line 26, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
.tabs-horiz li a:hover {
  background: #f8f8f8;
}
/* line 29, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
.tabs-horiz li a:hover .fa {
  color: black;
}
@media (min-width: 28em) {
  /* line 13, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
  .tabs-horiz li {
    display: table-cell;
    font-size: .938em;
    border-left: 0;
    border-top: 3px solid #e2e2e2;
  }
  /* line 41, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
  .tabs-horiz li a, .tabs-horiz li .tab-cont {
    padding: 1em 0;
  }
}
@media (min-width: 28em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
  .tabs-horiz {
    text-align: center;
  }
}
@media (min-width: 63.75em) {
  /* line 1, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
  .tabs-horiz {
    width: 75%;
  }
}

/* line 56, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
.search-results-tabs {
  width: 100%;
}

/* line 66, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
.tabs-horiz .active-tab,
.builds--builds .builds-tab,
.builds--pull-requests .pull-requests-tab,
.builds--branches .branches-tab,
.build--build .build-tab,
.build--analysis .analysis-tab,
.build--source .source-tab {
  font-weight: bold;
  border-left: 3px solid #ff734b;
}
/* line 70, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
.tabs-horiz .active-tab .fa,
.builds--builds .builds-tab .fa,
.builds--pull-requests .pull-requests-tab .fa,
.builds--branches .branches-tab .fa,
.build--build .build-tab .fa,
.build--analysis .analysis-tab .fa,
.build--source .source-tab .fa {
  color: black;
}
@media (min-width: 28em) {
  /* line 66, /Users/mikehostetler/Source/codeswarm/codeswarm/assets/sass/modules/_tabs.scss */
  .tabs-horiz .active-tab,
  .builds--builds .builds-tab,
  .builds--pull-requests .pull-requests-tab,
  .builds--branches .branches-tab,
  .build--build .build-tab,
  .build--analysis .analysis-tab,
  .build--source .source-tab {
    border-left: 0;
    border-top: 3px solid #ff734b;
  }
}
