<h1 class="page-title">
  <i class="fa fa-lock"></i>
	New Project
</h1>

<div class="content-wrap">
	<div class="sidebar-left">
		<section class="sidebar-list-contain">
			<h3 class="sidebar-list-title">&nbsp;</h3>

			<ul class="sidebar-list">
				<li class="sidebar-list--active">
					<a class="choose-source" data-link="source"><strong>#1 - Choose Source</strong></a>
				</li>
				<li>
					<a class="choose-repo" data-link="repo"><strong>#2 - Choose Repository</strong></a>
				</li>
				<li>
					<a class="choose-type" data-link="type"><strong>#3 - Choose Type</strong></a>
				</li>
			</ul>
		</section>
	</div>

	<div class="child-router" data-bind="router: { cacheViews: false }"></div>
</div>
