<!DOCTYPE html>
<html>

    <head>
        <title>CodeSwarm Continuous Integration &amp; Deployment</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <!--STYLES-->
        <link rel="stylesheet" href="/linker/styles/font-awesome.css">
        <link rel="stylesheet" href="/linker/styles/screen.css">
        <!--STYLES END-->
        <link rel="shortcut icon" href="/linker/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/linker/favicon.ico" type="image/x-icon">
    </head>

    <body>

        <div id="notification">
            <a><i class="fa fa-times"></i></a>
            <div></div>
        </div>

        <aside></aside>

        <header></header>

        <div id="main"></div>


        <!--SCRIPTS-->
        <script src="/js/socket.io.js"></script>
        <script src="/js/vendor/underscore/underscore-min.js"></script>
        <!--SCRIPTS END-->

        <script src="/js/vendor/requirejs/require.js" data-main="/js/main.js"></script>

    </body>

</html>
