<!DOCTYPE html>
<html>

    <head>
        <title>CodeSwarm Continuous Integration &amp; Deployment</title>
<!--
  .-. . .-..----..-.    .---. .----..-.   .-..----.    .---. .----.    
  | |/ \| || {_  | |   /  ___}  {}  \  `.'  || {_     {_   _}  {}  \   
  |  .'.  || {__ | `--.\     }      / |\ /| || {__      | | \      /   
  `-'   `-'`----'`----' `---' `----'`-' ` `-'`----'     `-'  `----'    
            .---..-. .-..----.                                         
           {_   _} {_} || {_                                           
             | | | { } || {__                                          
             `-' `-' `-'`----'  
   _____           _        _____                              
  /  __ \         | |      /  ___|                             
  | /  \/ ___   __| | ___  \ `--.__      ____ _ _ __ _ __ ___  
  | |    / _ \ / _` |/ _ \  `--. \ \ /\ / / _` | '__| '_ ` _ \ 
  | \__/\ (_) | (_| |  __/ /\__/ /\ V  V / (_| | |  | | | | | |
   \____/\___/ \__,_|\___| \____/  \_/\_/ \__,_|_|  |_| |_| |_|
-->

        <meta name="viewport" content="width=device-width, user-scalable=no">
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/style.css">
        <!--STYLES END-->
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>

    <body>

        <div id="notification">
            <a><i class="fa fa-times"></i></a>
            <div></div>
        </div>

        <aside></aside>

        <header></header>

        <div id="main"></div>

				<!--SCRIPTS-->
				<script src="/js/sails.io.js"></script>
				<!--SCRIPTS END-->

        <script src="/js/vendor/requirejs/require.js" data-main="/js/main.js"></script>
    </body>
</html>
