.login {
	header {
		.menu-button {
			display: block;
			width: 120px;
			float: none;
			margin: .938em auto 0;
			text-align: center;
		}

		@include breakpoint(37.5em) {
			.menu-button {
				width: 150px;
				margin: 1.125em auto 0;
			}
		}
	}

	.page-title,
	.content-wrap {
		max-width: 400px;
		margin: 0 auto;
		float: none;
		overflow: hidden;
	}

	.gf-col {
		width: 100%;
		padding: 0;
	}
}

.logging-out {
  padding: 100px 0 0 0;
  text-align: center;
}