.project-title {
    float: left;
    width: 100%;
    font-size: 1.25em;
    color: black;

    .btn {
        float: left;
        margin: .5em 0 0;
        width: 100%;
        font-size: .65em;

        @include breakpoint(28em) {
            width: auto;
        }

        @include breakpoint(37.5em) {
            float: right;
            margin: 0;
            font-size: .5em;
        }
    }

    @include breakpoint(37.5em) {
        font-size: 1.75em;
    }

    @include breakpoint(63.75em) {
        width: 75%;
        font-size: 2em;
    }
}

.project-title--status {
    display: block;
    margin-top: .25em;

    @include breakpoint(37.5em) {
        display: inline-block;
        margin-top: 0;
        margin-left: .25em;
        vertical-align: middle;
    }

    @include breakpoint(63.75em) {
        height: 36px;
    }
}