.sidebar {
    float: right;
    width: 100%;

    @include breakpoint(63.75em) {
        width: 25%;
        padding: 0 0 0 1.25em;
    }
}

.sidebar-left {
	float: left;
	width: 100%;

	@include breakpoint(63.75em) {
			width: 25%;
			padding: 0 1.25em 0 0;
	}
}
