<h1 class="page-title">
  <i class="fa fa-lock"></i>
  <span data-bind="html: displayName"></span>
</h1>

<div class="content-wrap">
	<form id="login" class="global-form">
		<div class="gf-col">
			<label>Email</label>
			<input type="email" placeholder="Email Address" name="email" data-bind="value: email">

			<label>Password</label>
			<input type="password" placeholder="Password" name="password" data-bind="value: password">
		</div>

		<div class="gf-actions">
			<button class="btn" data-bind="click: btnLogin_Click">Login</button>
			<a href="" data-bind="attr: { href: router.convertRouteToHash('user/forgot') }" class="btn btn-sec">Forgot Password?</a>
		</div>
	</form>
</div>
