<h1 class="page-title">
    <i class="fa fa-lock"></i>
    Sign up
</h1>

<div class="content-wrap">
	<h2>Not Implemented yet</h2>
  <!--form id="signup" class="global-form" data-bind="submit: trySignup">

    <div class="gf-col">
			<label>First Name</label>
			<input type="text" placeholder="First Name" name="fname" data-bind="value: fname">

			<label>Last Name</label>
			<input type="text" placeholder="Last Name" name="lname" data-bind="value: lname">

      <label>Email</label>
			<input type="text" placeholder="Email Address" name="email" data-bind="value: email">

			<label>Password</label>
			<input type="password" placeholder="Password" name="password" data-bind="value: password">

			<label>Confirm Password</label>
			<input type="password" placeholder="Confirm Password" name="password" data-bind="value: confirm_password">

		</div>

    <div class="gf-actions">
      <button>Sign up</button>
      <a href="#/user/login" class="btn btn-sec">Login</a>
    </div>

  </form-->

</div>
