<h1 class="page-title">
  <i class="fa fa-user"></i>
  <span data-bind="html:displayName"></span>
</h1>

<div class="content-wrap">
	<form id="user-config" data-bind="submit: trySaveSettings">
		<div class="global-form user-config-form">
	    <div class="gf-col">
	      <label>First Name</label>
	      <input type="text" placeholder="First Name" data-bind="value: fname">

	      <label>Last Name</label>
	      <input type="text" placeholder="Last Name" data-bind="value: lname">

	      <label data-bind="click: changeEmailNote">Email - Locked <i class="fa fa-question-circle"></i></label>
	      <input disabled="disabled" type="text" placeholder="Email Address" data-bind="value: email, click: changeEmailNote">

	    </div>

	    <div class="gf-col">
	      <label>Password</label>
	      <input name="branch" type="password" placeholder="Password" data-bind="value: password">

	      <label>Confirm Password</label>
	      <input type="password" placeholder="Confirm password" data-bind="value: confirm_password">

	      <p><i class="note">Leave password fields blank to retain your current password.</i></p>

	    </div>
	  </div>

	  <div class="user-config-image">
			<label>Profile image</label>
			<div class="image-contain">
				<img data-bind="attr: {src: gravatar}" src="http://www.gravatar.com/avatar/00000000000000000000000000000000">
			</div>
		</div>

		<div class="gf-actions">
      <button type="submit" class="btn">Save</button>
    </div>

    <div class="modal" id="modal-image-upload">
    	<div class="modal-contain">
    		<div class="modal-title">Upload new image</div>

    		<div class="modal-body">
    			<input type="file">
    		</div>
    	</div>
    </div>
  </form>
</div>
